# Python
__pycache__/
*.py[cod]
*.sqlite3
db.sqlite3
*.log

# Django
media/
staticfiles/

# Virtual environment
venv/
.env

# Node
node_modules/
dist/
.env
.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db